registry=https://registry.npmjs.org/
@fiks-tools:registry=https://foa-it.pkgs.visualstudio.com/_packaging/fiks-tools/npm/registry/
@fiks:registry=https://foa-it.pkgs.visualstudio.com/_packaging/fiks/npm/registry/
@fiks-components:registry=https://foa-it.pkgs.visualstudio.com/_packaging/mortens-fiks-components/npm/registry/
