registry=https://registry.npmjs.org/
@fiks-tools:registry=https://pkgs.dev.azure.com/foa-it/_packaging/fiks-tools/npm/registry/
@fiks:registry=https://pkgs.dev.azure.com/foa-it/_packaging/fiks/npm/registry/
@fiks-components:registry=https://pkgs.dev.azure.com/foa-it/_packaging/fiks-components/npm/registry/
